<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>403 Error</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="vh-100 d-flex justify-content-center align-items-center">
    <main>
        <h2 class="display-4 text-muted">You aren't allowed to access this resource...</h2>
        <form th:action="@{/logout}" method="post" class="mt-4">
            <button type="submit" class="btn btn-danger btn-lg">Logout</button>
        </form>
    </main>
</body>
</html>

<style>
    body {
        text-align: center;
    }


</style>