<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Custom Entities</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <main class="w-75 mx-auto">
        <h2 th:inline="text" class="mt-5">Welcome, [[${#httpServletRequest.remoteUser}]]!</h2>
        <h3>Current Roles: <span sec:authentication="principal.authorities" class="text-success">[ROLE_USER, ROLE_ADMIN]</span></h3>
        <table class="table table-striped table-bordered table-hover mt-4">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th sec:authorize="hasRole('ROLE_ADMIN')" scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="customEntity: ${customEntities}">
                <td th:text="${customEntity.id}"></td>
                <td th:text="${customEntity.title}"></td>
                <td th:text="${customEntity.descr}"></td>
                <td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-danger" th:href="@{/delete/{id}(id=${customEntity.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
        <a sec:authorize="hasRole('ROLE_ADMIN')" href="/add" class="btn btn-secondary btn-lg btn-block mt-3">Add Student</a>

        <form th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-danger btn-lg btn-block mt-3">Logout</button>
        </form>
    </main>

</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->

<!--<head>-->
<!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
<!--    <title>Home</title>-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">-->
<!--</head>-->
<!--<body>-->
<!--<p th:text="Hello,  + !" />-->
<!--    <table class="table table-striped">-->
<!--        <thead>-->
<!--            <tr>-->
<!--                <th scope="col">Id</th>-->
<!--                <th scope="col">Title</th>-->
<!--                <th scope="col">Description</th>-->
<!--                <th scope="col">Actions</th>-->
<!--            </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--            <tr th:each="customentity: ${customentities}">-->
<!--                <td th:text="${customentity.id}"></td>-->
<!--                <td th:text="${customentity.title}"></td>-->
<!--                <td th:text="${customentity.descr}"></td>-->
<!--            </tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--    <a th:href="${/add}" class="btn btn-primary">Add Student</a>-->
<!--</body>-->
<!--</html>-->

<!--<style>-->
<!--    body {-->
<!--        text-align: center;-->
<!--    }-->
<!--</style>-->
